<section id="search" class="search-wrap">
    <h1>Browse all the works  </h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="NodeJS, Clojure, React,  etc...">
      <input type="submit" value="Search">
    </form>
  </section>
